@import "tailwindcss";

/* Custom components */
.auth-input {
  @apply w-full h-[52px] rounded-full
  bg-transparent
  border border-white/30
  text-white placeholder-gray-300
  px-5 outline-none
  focus:border-cyan-400
  focus:ring-2 focus:ring-cyan-400/40
  transition-all duration-200;
}

.eye-icon {
  @apply absolute right-4 top-1/2 -translate-y-1/2
  text-white text-xl cursor-pointer
  hover:text-cyan-400 transition;
}
